PROJECT_NAME=Personalized Glycemic Forecasting Engine
LOG_LEVEL=INFO

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT_NAME=glycemic_forecasting

# Inference
MODEL_ARTIFACT_PATH=artifacts/models/global_model.pt
FEATURES_ARTIFACT_PATH=artifacts/features/feature_spec.json
